.clip-corner[data-v-766eaac9]{clip-path:polygon(100% 0,0 0,100% 100%)}.scrollbar-hide[data-v-766eaac9]{-ms-overflow-style:none;scrollbar-width:none}.scrollbar-hide[data-v-766eaac9]::-webkit-scrollbar{display:none}
