.clip-corner[data-v-f1d24b99]{clip-path:polygon(100% 0,0 0,100% 100%)}.scrollbar-hide[data-v-f1d24b99]{-ms-overflow-style:none;scrollbar-width:none}.scrollbar-hide[data-v-f1d24b99]::-webkit-scrollbar{display:none}
